<h2>マイページ</h2>



<% if @user.image.attached? %>
  <%= image_tag @user.image, size: "50x50" %>
<% else %>
  <%= image_tag 'no_image', size: "50x50" %>
<% end %>

<%= @user.name %>
<%= @user.email %>
<%= link_to "マイ日記", post_path(current_user) %>
<%= link_to "編集", edit_user_path(current_user) %>

